.tabs {

  &-caption {
	  // font-family: $supermolot;
	  font-size: 17px;
	  color: white;
	  list-style: none;
	  padding-left: 0;
	  display: flex;
	  margin: 0;


	  li {
		display: flex;
		align-items: center;

		&:nth-of-type(1) {

		  justify-content: flex-end;
		  margin-right: 35px;
		}
		&:nth-of-type(2) {

		  justify-content: flex-start;
		  margin-left: 35px;
		}

		&:not(.active) {
		  .block-title {
			color: #999999;
		  }

		}
	  }


  }

  &-container {

  }

  &-content {
	  @extend .flex;
	  align-items: stretch;
	  display: none;
	  padding-top: 30px;

	  &.active {
		  display: flex;
	  }
  }

  &-description {
	width: 25%;


	.txt {
	  line-height: 24px;
	  margin: 0 0 20px 0;
	}

	.btn {
	  margin-top: 50px;
	}
  }

  &-media {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 100px;

	.media-holder {
	  width: 480px;
	  height: 400px;
	  position: relative;

	  & > img {
		width: 100%;
	  }

	  .tip {
		position: absolute;

		.txt {
		  font-family: $font-light;
		  font-size: 15px;
		  color: #307ac6;
		}

		&-1 {
		  left: -60px;
		  top: 0;
		}
		&-2 {
		  right: -65%;
		  top: 25px;
		}
		&-3 {
		  right: -80%;
		  top: 175px;
		}
		&-4 {
		  right: -55%;
		  bottom: 10px;
		}

	  }
	}
  }




	
}