

.page-title {
  font-family: $font-thin;
  font-size: 55px;
  line-height: 62px;
  color: white;
  margin-bottom: 10px;
}

.page-subtitle {
  font-family: $font-light;
  font-size: 19px;
  line-height: 26px;
  color: white;
}

.block-title {
  font-family: $font-thin;
  font-size: 45px;
  color: $titleColor;
  text-align: left;
  line-height: 1em;
}

.txt {
  font-family: $font-light;
  font-size: 15px;
  line-height: 26px;
  color: $txtCol;
}

.divider {
	// font-family: $ubuntu;
	font-size: 13px;
	color: #666;
	font-weight: 300;
	margin-left: 1.5em;
	margin-right: 1em;
}

